@{
    ViewData["Title"] = "Наші контакти";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<div class="sHeader">
    Наші контакти
</div>

<div class="sText">
    <p>Тут ви можете знайти наші контактні дані.</p>
    <p>Звертайтеся до нас: <br/><a href="ipz243_kdo@student.ztu.edu.ua">ipz243_kdo@student.ztu.edu.ua</a></p>
</div>
