@{
    ViewData["Title"] = "Що нового на сайті";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<div class="sHeader">
<p>Тут ви можете знайти новини про оновлення сайту</p>
</div>


<div class="sText">
    <ul>
        <li>Створено сайт</li>
        <li>Оновлено головну сторінку</li>
    </ul>

</div>