@{
    ViewData["Title"] = "Більше";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<div class="sHeader">
    Більше інформації
</div>

<div class="sText">
    <p>Сайт створено за допомогою ASP.NET</p>
    <p><a href="https://learn.microsoft.com/uk-ua/aspnet/core/?view=aspnetcore-9.0">https://learn.microsoft.com/uk-ua/aspnet</a></p>
</div>
